<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/pico.min.css') }}"
    />

    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>

    {% block style %} {% endblock %}
  </head>
  <body class="">
    <main class="container">{% block content %} {% endblock %}</main>

    <script type="text/javascript">
      function updateInputValue(key) {
        let inputValue = key;

        console.log(key, inputValue);

        let inputField = document.getElementById("catalog_nbr");

        inputField.value = inputValue;

        let searchButton = document.getElementById("search");

        searchButton.click();
      }
    </script>
  </body>
</html>
