{% extends 'base.html' %} {% block style %}
<style>
  detail_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
</style>
{% endblock %} {% block content %}

<form id="form" class="" hx-trigger="submit" hx-post="/search">
  <div class="grid">
    <label class="" for="catalog_nbr"
      ><strong>Catalog Number</strong
      ><input
        id="catalog_nbr"
        autocomplete="off"
        class=""
        type="text"
        name="catalog_nbr"
        placeholder="Note: Written as in DMR"
        required
    /></label>
  </div>

  <div>
    <button class="" type="submit">Search</button>
  </div>
</form>

<div>
  <a href="/refresh">Refresh DMR's </a>
</div>

{% endblock %} {% block javascript %}
<script></script>
{% endblock %}
